/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #FFFFFF;
    background: #2B8C40;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}
#intro {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#movielens {
  color: #FFF;
}
#movielens:visited {
  color: #FFF;
}

/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 10% 5em;
}

.footer {
    padding: .5em 2em;
}

.content-head {
  margin-top: 5em;
}
/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */

 #menu {
   height: 50px;
   background: #8f282f;
   overflow: hidden;
   line-height: 50px;
 }


.pure-menu-heading {
  color: #FFFFFF;
}

.custom-menu-3 {
    text-align: right;
}

.pure-menu-link {
  color: #FFFFFF;
}

.pure-menu-link:hover {
  background-color: #73232D;
}



@media (max-width: 47.999em) {
    .pure-menu-heading {
      text-align: center;
    }

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}

/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */



.bio {
  margin-top: 10%;
  margin-bottom: 0;
  color: white;
  font-weight: 200;
  text-shadow: 0 1px 1px black;
}

.picture {
  border-radius: 50%;
  margin-left: 15%;
  margin-top: 2em;
}

.header {
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
 .pricing-tables,
 .information {
    max-width: 980px;
    margin: 0 auto;
 }
.pricing-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

/*
 * -- PRICING TABLE  --
 * Every pricing table has the .pricing-table class
 */
.pricing-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
    background: #0D4018;
    margin-top: 2em;
}

/*
 * -- PRICING TABLE HEADER COLORS --
 * Choose a different color based on the type of pricing table.
 */


/*
 * -- PRICING TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.pricing-table-header {
    background: #8f282f;
    color: #fff;
}
    .pricing-table-header h2 {
        margin: 0;
        padding: 1em;
        font-size: 1em;
        font-weight: normal;

    }


/*
 * -- PRICING TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.pricing-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
    .pricing-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }

.is-center {
  text-align: center;
}


/*
 * -- PRICING TABLE LIST --
 * Each pricing table has a <ul> which is denoted by the .pricing-table-list class
 */
.pricing-table li {
  text-align: left;
}


/*
 * -- PRICING TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each pricing table
 */



/*
 * -- PRICING TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a pricing table.
 * This inherits from Pure Button.
 */
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.left-button {
  padding-right: 1em;
}
.right-button {
  font-size: 16px;
}

.information-head {
    color: black;
    font-weight: 800;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }



/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }
    .pricing-table {
        margin-bottom: 0;
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {


}
